<div class="page-heading">
  <h1>Profile</h1>
</div>
<h1 id="banner"> Welcome, <% if current_user %>
    <% @jobs.each do |job| %>
      <%= job.title %>
      <%= job.description %>
    <% end %>
  <% if current_user.display_name %>
    <%= current_user.display_name %>.
  <% else %>
    <%=current_user.full_name %>.
  <% end %>
<% end %>

</h1>
