<% content_for :navbar_links do %>
<li><%= link_to "Edit Profile", logout_path%></li>
<% end %>

<div class="page-heading">
<div class="container">  <h1>Profile:  <%= @user.full_name %></h1></div>
</div>

<div class='container-fluid'>
  <div class="row">
    <div class="col-md-3">
      <div class="panel-body">
        <img src="" class="img-responsive" alt="Responsive image">
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-body">asdfasfdasdfaf</div>
    </div>
    <div class="col-md-3">
      <div class="panel-body">asdfasfdasdfaf</div>
    </div>
  </div>
</div>
