<h1 id="banner"> Welcome, <% if current_user %>
  <% if current_user.display_name %>
    <%= current_user.display_name %>.
  <% else %>
    <%=current_user.full_name %>.
  <% end %>
    <% @jobs.each do |job| %>
      <%= render partial: "jobs/job", locals: {job: job} %>
    <% end %>
<% end %>


</h1>

