<% content_for :navbar_links do %>
  <%= render 'layouts/basic_navbar/user_links' %>
<% end %>
<div class="gh-hero-content-container">
  <div class="gh-hero-top-padding"></div>
    <div class="col-md-5">
      <div class='gh-tagline col-centered'>GIT A DAMN JOB</div>
      <%= link_to "Browse Jobs", jobs_path, class: "gh-browse-jobs col-md-6 col-centered btn btn-default" %>
    </div>
    <div class="gh-hero-bottom-padding"></div>
</div>
<div class='gh-hero-content-footer'>
  <div class="gh-hero-top-padding"></div>
  <div class=" col-md-5">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div>
  <div class="gh-hero-bottom-padding"></div>
</div>
