<div class="gh-hero-content-container">
  <div class="gh-hero-top-padding"></div>
    <div class=" col-md-5">
      <div class='gh-tagline col-centered'>GIT A DAMN JOB</div>
      <div class="gh-browse-jobs col-md-6 col-centered btn btn-default"><span>Browse Jobs<span></div>
    </div>
    <div class="gh-hero-bottom-padding"></div>
</div>
<div class='gh-hero-content-footer'>
</div>
