body, html {
  height: 100%;
}
.footer {
  position: relative;
  bottom: 0;
}
.col-centered {
  display: block;
  float: none;
  margin: 0 auto;
}
.gh-landing-logos {
  display: flex;
  div {
    padding: 10%;
  }
}
.business-job {
  .gh-job-business-details {
    width: 90%;
  }
  .button {
    width: 15%;
  }
}
.gh-repo-name {
  display:inline-block;
  font-size: 1.1em;
}
#new_resume .form-group label {
  font-size: 1.5em;
}
#new_resume .form-group label:before {
  content: "Resume ";
}
#new_resume .form-group label:after {
  content: ": ";
}
.gh-checkbox {
  display:inline-block;
}
.gh-checkbox-outer {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
}
.gh-tag-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .gh-tag {
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
  }
}
.gh-job-tag-row {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  .gh-tag {
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
  }
}


.navbar li .gh-miniheader2 {
  font-size: 1.5em;
  height: 40px;
  padding: 10px;
  margin-left: 40px;
}
.navbar-right {
  height: 40px;
}
.gh-tagline {
  text-align: center;
  font-size: 4em;
  font-weight: 2000;
  color: #fff;
  line-height: 0.8em;
  padding-bottom: 0.4em;
}

.gh-browse-jobs {
  font-size: 2em;
  white-space: pre-wrap;
  color: #fff;
}

.gh-browse-jobs:hover {
  background: #fff;
  color: rgba(71,30,14,1);
}

.nav {
  height: 50px;
}
.gh-content-row {
  margin-top: 20px;
}
.gh-content-header h1 {
  font-size: 60px;
}

.gh-hero {
  height: 100%;
  background: image-url("hero-bg.jpg")  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gh-container {
  padding: 0;
}

.gh-hero-content-container {
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gh-hero-content-footer {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.page-content {
  margin-top: 40px;
}

.box{
  display: none;
  width: 100%;
}

a:hover + .box,.box:hover{
  display: block;
  position: relative;
  z-index: 100;
}
.dropdown-menu {
  padding-top: 20px;
 }
.gh-resume-radio-buttons {
  input {
    display: block;
  }
}
