.page-heading {

  width:100%;
  color: #fff;
  padding-top: 50px;
  min-height: 150px;
  // background: rgba(71,30,14,1);
  // background: -moz-linear-gradient(left, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 17%, rgba(99,42,38,1) 30%, rgba(71,30,14,1) 100%);
  // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,30,14,1)), color-stop(17%, rgba(97,35,26,1)), color-stop(30%, rgba(99,42,38,1)), color-stop(100%, rgba(71,30,14,1)));
  // background: -webkit-linear-gradient(left, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 17%, rgba(99,42,38,1) 30%, rgba(71,30,14,1) 100%);
  // background: -o-linear-gradient(left, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 17%, rgba(99,42,38,1) 30%, rgba(71,30,14,1) 100%);
  // background: -ms-linear-gradient(left, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 17%, rgba(99,42,38,1) 30%, rgba(71,30,14,1) 100%);
  // background: linear-gradient(to right, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 17%, rgba(99,42,38,1) 30%, rgba(71,30,14,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#471e0e', endColorstr='#471e0e', GradientType=1 );

  background: rgba(71,30,14,1);
  background: -moz-linear-gradient(left, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 16%, rgba(99,42,38,1) 33%, rgba(77,42,76,1) 54%, rgba(71,30,14,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,30,14,1)), color-stop(16%, rgba(97,35,26,1)), color-stop(33%, rgba(99,42,38,1)), color-stop(54%, rgba(77,42,76,1)), color-stop(100%, rgba(71,30,14,1)));
  background: -webkit-linear-gradient(left, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 16%, rgba(99,42,38,1) 33%, rgba(77,42,76,1) 54%, rgba(71,30,14,1) 100%);
  background: -o-linear-gradient(left, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 16%, rgba(99,42,38,1) 33%, rgba(77,42,76,1) 54%, rgba(71,30,14,1) 100%);
  background: -ms-linear-gradient(left, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 16%, rgba(99,42,38,1) 33%, rgba(77,42,76,1) 54%, rgba(71,30,14,1) 100%);
  background: linear-gradient(to right, rgba(71,30,14,1) 0%, rgba(97,35,26,1) 16%, rgba(99,42,38,1) 33%, rgba(77,42,76,1) 54%, rgba(71,30,14,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#471e0e', endColorstr='#471e0e', GradientType=1 );
  .containter {
    display:flex;
    height: 100%;
  }
  h1 {
    font-weight:1000;
    font-size: 50px;
  }
}
