<nav class='navbar-default navbar'>
  <ul class='nav navbar-nav'>
    <li><a href="#">lkjs</a></li>
    <li><a href="#">lkjfffs</a></li>
    <li><a href="#">lasdfkjs</a></li>
    <li><a href="#">lasdfkjs</a></li>
    <li><a href="#">lkfjs</a></li>
  </ul>

</nav>
